client_react/.expo/*
client_react/npm-debug.*
client_react/*.jks
client_react/*.p8
client_react/*.p12
client_react/*.key
client_react/*.mobileprovision
client_react/*.orig.*
client_react/web-build/

server_node/.env
server_node/package-lock.json



*/yarn.lock
*/yarn-error.log
*/node_modules/**/*

notes.txt

# macOS
client_react/.DS_Store
.idea/*
*/.idea/*
*.xml
*.iml

